<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adou.community.mapper.UserMapper">
    <insert id="save" parameterType="user">
        insert into user values (null, #{account_id}, #{name}, #{token}, #{gmt_create}, #{gmt_modified}, #{avatar_url})
    </insert>

    <select id="findUserByToken" resultType="user" parameterType="user">
        select * from user where token = #{token}
    </select>

    <select id="findUserById" parameterType="int" resultType="user">
        select * from user where id = #{creator}
    </select>
</mapper>