.main{
    margin: 30px;
    background: white;
}

body{
    background: #e6e6e6;
}

.btn-publish{
    float: right;
    margin-bottom: 10px;
}

.media-object{
    width: 41px;
    height: 41px;
}
.media-body{
    padding-top: 12px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section{
    margin-top: 15px;
}

.community-menu{
    color: #999;
    font-size: 14px;
}

.jumbotron{
    margin: 50px;
}

.comment{
    margin: 11px 0;
}

.edit{
    float: right;
}

.menu{
    color: #999;
    margin-top: 5px;
}

.menu .icon{
    font-size: 15px;
    margin-right: 6px;
    cursor: pointer;
}

.menu .comment_icon{
    font-size: 15px;
    cursor: pointer;
}

.menu .comment_icon:hover{
    color: #499ef3;
}

.menu .active{
    color: #499ef3;
}

.menu .icon:hover{
    color: #499ef3;
}

.comments{
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.comment_sp{
    margin-top: 0;
}
.sub_comments{
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}

.sub_comments .btn{
    margin: 10px 0;
}

.question_title{
    margin-top: 25px;
}

.question_tag{
    margin-right: 5px;
}

.question_related{
    line-height: 20px;
    font-size: 13px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}

.publish_tag_tab{
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}

.publish_tag_tab .label-info{
    margin-right: 10px;
}